<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>椰子理财</title>


</head>
<body>
    <header class="fixheader">
        <div class="headyea">
            <img src="//127.0.0.1:3901/static/introduce/image/yealogo_00b6d7c.png" class="yealogo" alt="yea">
        </div>
        <div class="headtitle">
            <img src="//127.0.0.1:3901/static/introduce/image/yeatitle_fba1b47.png" class="yeatitle" alt="">
            <div class="titleaddress">www.yeamoney.cn</div>
        </div>
        <div class="headernav">
            <ul class="nav">
                <li>首页</li>
                <li>关于我们</li>
                <li>安全保障</li>
            </ul>
        </div>
    </header>
    <section class="fifpic">
        <img src="//127.0.0.1:3901/static/introduce/image/fif1_ad04576.png"  alt="">
        <img src="//127.0.0.1:3901/static/introduce/image/fif2_6cd87d8.png"  alt="">
        <img src="//127.0.0.1:3901/static/introduce/image/fif3_19faaeb.png"  alt="">
        <img src="//127.0.0.1:3901/static/introduce/image/fif4_f56c776.png"  alt="">
        <img src="//127.0.0.1:3901/static/introduce/image/fif5_c5be670.png"  alt="">
        <img src="//127.0.0.1:3901/static/introduce/image/fif6_2373a7a.png"  alt="">
        <img src="//127.0.0.1:3901/static/introduce/image/fif7_1d1d360.png"  alt="">
        <img src="//127.0.0.1:3901/static/introduce/image/fif8_9995aeb.png"  alt="">
        <img src="//127.0.0.1:3901/static/introduce/image/fif9_6d9f4dc.png"  alt="">
        <img src="//127.0.0.1:3901/static/introduce/image/fif10_0b05be8.png"  alt="">
        <img src="//127.0.0.1:3901/static/introduce/image/fif11_592c24a.png"  alt="">
        <img src="//127.0.0.1:3901/static/introduce/image/fif12_822cfaa.png"  alt="">
        <img src="//127.0.0.1:3901/static/introduce/image/fif13_63378e2.png"  alt="">
        <img src="//127.0.0.1:3901/static/introduce/image/fif14_c4feafc.png"  alt="">
        <img src="//127.0.0.1:3901/static/introduce/image/fif15_2e18dc7.png"  alt="">

    </section>
    <section class="jobs">
        <div class="occupation">
            <ul>
                <li class="yap chosed">产品技术</li>
                <li class="yap">产品运营</li>
                <li >公司客服</li>
            </ul>
        </div>
        <div class="post">
            <div class="technology">
                <ul>
                    <li class="chosed">技术主管</li>
                    <li>前端工程师</li>
                    <li>JAVA开发工程师</li>
                    <li>NODEJS</li>
                    <li>IOS开发工程师</li>
                    <li>Android工程师</li>
                    <li>软件测试工程师</li>
                </ul>
            </div>
            <div class="operate">
                <ul>
                    <li class="chosed">文案策划</li>
                    <li>运营专员</li>
                    <li>商务经理</li>
                    <li>渠道运营</li>
                </ul>
            </div>
            <div class="customservice">
                <ul>
                    <li class="chosed">客服专员</li>
                </ul>
            </div>
        </div>
        <div id="occpost">
            技术主管
        </div>
        <div id="disc">
            <table class="dist">
                <tr>
                    <td>岗位职责：</td>
                    <td>1、 负责公司（移动端，web端，API等）产品业务的技术架构搭建，功能模块设计，开发及优化。</br>2、 负责数据库调优，产品性能优化</br>3、 搭建系统开发环境，完成产品开发工作</br>4、 负责应用服务端的设计，开发，维护</br>5、 生产环境部署，监控与优化</br>6、 根据业务及产品需求制定技术方案，对复杂问题进行攻克</br>
                    </td>
                </tr>
                <tr>
                    <td>认知需求：</td>
                    <td>
                       1、 计算机或相关专业本科及以上学历</br>2、 4年以上工作经验，有大型互联网公司2年以上经验，参与过大型平台级产品的核心技术工作。至少2年以上的技术管理工作。并参与过优秀的创业公司尤佳</br>3、 有电商、订单系统、支付系统、O2O业务、社交产品等相关开发经验优先。</br>4、 有高负载应用或分布式系统开发经验。</br>5、 有开源项目，有丰富的技术圈内积累，技术深度扎实，有自己的技术博客</br>6、 精通JAVA、 Javascript，并精通其它至少一种开发语言。</br>7、 精通linux、git、web开发流程，熟悉mvc开发模式</br>8、 精通mysql、mongodb、redis、nginx中的一种或多种</br>9、 熟悉多种主流框架。有从0-1架构一个平台型产品的架构能力。</br>10、 熟悉前端开发，熟悉前端技术，如HTML/CSS/Javascript/jQuery/Ajax。熟悉IOS、Android前端技术。</br>11、 有一定的运维经验， 有高负载应用或分布式系统开发经验。</br>12、 对代码质量要求极其严格。</br>13、 注重利用合理的设计模式和模块化的组织方式对代码进行架构</br>14、 自我学习能力强，强大的解决问题能力，高效率的开发能力，强大的技术团队推动能力。分析解决问题能力强，极具主动精神及创业精神，善于沟通交流，有责任感，有团队协作精神，对新技术敏感
                    </td>
                </tr>
            </table>
        </div>
    </section>w
    <section class="bottomspace">
        <img src="//127.0.0.1:3901/static/introduce/image/joinbg_28baace.png"alt="">
    </section>
    <script type="text/javascript" src="//127.0.0.1:3901/static/common/js/jquery-1.10.1.min_33d8513.js"></script>
    <script>
        $('.nav>li').click(function(){
            switch($(this).index()){
                case 0:window.location.href='/';
                break;
                case 1:window.location.href='about';
                break;
                case 2:window.location.href='security';
                break;
                default:
                break;
            }
        });
        $('.headyea').click(function(){
            window.location.href='/';
        });
        $('.qr-code').click(function(){
            $('#mask').show();
        });
        $('#mask').click(function(){
            $('#mask').hide();
        });
        var postIndex = 0;
        $('.occupation>ul>li').click(function(){
            $('.post>div').hide();
            $('.post>div').eq($(this).index()).show();
            $(this).addClass('chosed').siblings().removeClass('chosed');
            $('#occpost').html($('.post>div').eq($(this).index()).find('ul>li').eq(0).html());
            $('.post>div').eq($(this).index()).find('ul>li').eq(0).addClass('chosed').siblings().removeClass('chosed');
            sliderecruit($(this).index(),0);
        });
        $('.post>div>ul>li').click(function(){
            $(this).addClass('chosed').siblings().removeClass('chosed');
            $('#occpost').html($(this).html());
            var occclass = $(this).parent().parent().attr('class');
            if(occclass=='operate')
            {
                occIndex=1;
            }
            else if(occclass=='customservice')
            {
                occIndex=2;
            }
            else
            {
                occIndex =0;
            }
            sliderecruit(occIndex,$(this).index());
        });
        var recruit = new Array();
        for (var i = 0; i <3; i++) {
            recruit[i] = new Array();
            for (var j = 0; j <7; j++) {
                recruit[i][j] = new Array();
                recruit[i][j][0]="";
                recruit[i][j][1]="";
            }
        }

                /*技术经理/技术主管*/
        recruit[0][0][0]='1、 负责公司（移动端，web端，API等）产品业务的技术架构搭建，功能模块设计，开发及优化。</br>2、 负责数据库调优，产品性能优化</br>3、 搭建系统开发环境，完成产品开发工作</br>4、 负责应用服务端的设计，开发，维护</br>5、 生产环境部署，监控与优化</br>6、 根据业务及产品需求制定技术方案，对复杂问题进行攻克</br>';
        recruit[0][0][1]='1、 计算机或相关专业本科及以上学历</br>2、 4年以上工作经验，有大型互联网公司2年以上经验，参与过大型平台级产品的核心技术工作。至少2年以上的技术管理工作。并参与过优秀的创业公司尤佳</br>3、 有电商、订单系统、支付系统、O2O业务、社交产品等相关开发经验优先。</br>4、 有高负载应用或分布式系统开发经验。</br>5、 有开源项目，有丰富的技术圈内积累，技术深度扎实，有自己的技术博客</br>6、 精通JAVA、 Javascript，并精通其它至少一种开发语言。</br>7、 精通linux、git、web开发流程，熟悉mvc开发模式</br>8、 精通mysql、mongodb、redis、nginx中的一种或多种</br>9、 熟悉多种主流框架。有从0-1架构一个平台型产品的架构能力。</br>10、 熟悉前端开发，熟悉前端技术，如HTML/CSS/Javascript/jQuery/Ajax。熟悉IOS、Android前端技术。</br>11、 有一定的运维经验， 有高负载应用或分布式系统开发经验。</br>12、 对代码质量要求极其严格。</br>13、 注重利用合理的设计模式和模块化的组织方式对代码进行架构</br>14、 自我学习能力强，强大的解决问题能力，高效率的开发能力，强大的技术团队推动能力。分析解决问题能力强，极具主动精神及创业精神，善于沟通交流，有责任感，有团队协作精神，对新技术敏感</br>';
        /*font-end*/
        recruit[0][1][0]='1、负责项目系统平台的WEB开发与优化；</br>2、根据产品需求实现页面前端良好交互效果；</br>3、参与项目产品研发，及时配合团队实现产品界面和功能</br>';
        recruit[0][1][1]='1、熟悉Spring MVC+Spring+Hibernate三层架构技术；3-5年工作经验；</br>2、精通JavaScript、Ajax、Flash、JQuery等各种Web前端开发技术，具备一定的跨浏览器开发经验；</br>3、精通DIV+CSS网页框架布局的HTML代码编写，能用HTML5/CSS3熟练地进行页面开发；</br>4、精通各主流浏览器（IE6+、Firefox、Chrome、Safari）间的差异性，能快速定位和解决各种兼容难题；</br>5、熟练使用Git代码管理工具及其管理方法(如git flow)</br>';

        /*JAVA开发工程师*/
        recruit[0][2][0]='1、理解业务需求为软件开发提供技术方案设计；</br>2、了解现有技术系统，持续优化性能架构；</br>3．从事核心部分代码的编写。</br>';
        recruit[0][2][1]='1、计算机软件或相关专业本科以上学历；</br>2、具有3年以上JAVA开发经验,具备扎实的数据结构、算法基础;</br>3、熟悉Struts、Spring、Hibernate等开源框架；</br>4、熟悉主流关系数据库Mysql、mongodb，有sql调优经验优先</br>5、具备js、jquery应用经验</br>6、熟练使用Git代码管理工具及其管理方法</br>7、愿意做事，愿意学习，有良好的团队合作精神和沟通协调能力</br>';

        /*NODEJS*/
        recruit[0][3][0]='1、 负责后台相关业务系统的设计和研发；</br>2、负责平台开放接口的设计和研发；</br>3、优化性能、维护现有系统的功能模块、扩展的基础框架；';
        recruit[0][3][1]='1、本科学历以上，计算机相关专业，2年以上工作经验；对javascript语言本身有较为深刻的理解。</br>2、精通 NodeJS ，要求至少有1年以上的服务器端研发经验；</br>3、对数据结构和算法设计有一定的理解；</br>4、熟悉MongoDB或MySQL ，有较强的SQL编程、优化能力；</br>5、熟悉Linux，熟悉常用的Shell命令；</br>6、熟练使用Git代码管理工具及其管理方法(如git flow) 。</br>7、懂html、css等语言优先考虑';
        /*IOS开发工程师*/
        recruit[0][4][0]='1、 负责移动终端产品的软件架构设计；</br>2、 负责移动终端产品的开发</br>3、 熟练掌握IOS开发过程中相关的软件调试工具和技术</br>4、 协助部门负责人解决技术开发难题';
        recruit[0][4][1]='1、有互联网金融平台、电商从业经验优先</br>2.  对互联网行业有浓厚兴趣；</br>3. 3年以上IOS设备开发经验，精通客户端程序设计方法；</br>4.  熟悉IOS客户端应用开发技术，开发并发布过至少1款成熟的产品。</br>5.  良好的服务精神及团队合作能力，责任心强';
        /*ANDROID开发工程师*/
        recruit[0][5][0]='1.协助部门负责人解决技术开发难题</br>2.负责android相关产品开发</br>3.参与软件设计的重构、忧化、保证产品的可迭代可维护性；</br>4.依据项目进度和需求，能按时完成所需功能开发</br>5.  进行单元测试，确保功能稳定，性能优异，保证开发工作高质量完成</br>；6.学习和研究新技术以满足产品的需求。';
        recruit[0][5][1]='1.具备扎实的java编程基础，了解c/c++开发语言；</br>2.具备良好的自我驱动能力，具有强烈的责任感，有挑战自我、学习新知的意愿与能力；</br>3.热爱Android开发，具备相互协助、沟通的能力和团队合作精神；</br>4.  有SDK开发经验者优先；</br>5. 有互联网金融平台、电商从业经验者优先</br>6.良好的自我驱动能力，具有强烈的责任感，良好的服务精神及团队合作能力，学习新知识的意愿与能力';
    /*软件测试工程师*/
        recruit[0][6][0]='1.协助部门负责人解决技术开发难题</br>2.分析产品需求，制定合理高效的测试方案，编写清晰的测试用例；</br>3.  独立负责并控制好项目测试全过程；</br>4.  发现产品缺陷，跟踪定位bug，协助开发工程师解决问题；</br>5.  搭建并维护测试环境；</br>6.  设计、编写、执行自动化测试脚本。7.  持续推动开发测试流程的优化。</br>1、熟悉Linux命令操作，熟练使用数据库SQL；</br>2、熟练掌握至少一门编程或脚本语言，熟练使用至少一种开源测试框架。</br>3、熟悉互联网项目开发测试流程，精通测试理论方法；';
        recruit[0][6][1]='1 、精通java或js，有测试框架开发经验</br>2、 有丰富的互联网或移动互联网测试经验</br>3、 强大的项目推动和协调能力';

        /*文案策划*/
        recruit[1][0][0]='1、中文、新闻或市场营销等相关专业毕业，本科及以上学历。一年以上文案策划相关工作经验，</br>2、具备良好的市场意识和用户敏感度，熟悉互联网行业及新媒体的策划和推广。</br>3、具有微信运营经验，了解微信，微博推广的方式</br>4、热爱创意和文字工作，具备很强的写作能力和文字素养。</br>5、熟练使用Word、Excel、PPT、photoshop等办公软件。</br>6、具备较强的学习、领悟和沟通能力和团队合作意识；</br>';

        recruit[1][0][1]='1、负责项目的品牌文案撰写、创意构思、公司项目提案给予前期提案策划撰写，设计创意说明及后期结案报告等服务；</br>2、有丰富的商业项目方案经验；</br>3、有敏锐的创作嗅觉和精准的创意表现力，具备独立思考和分析能力，对问题有自己独特的见解；</br>4、独立撰写各类品牌文案、新闻稿件、活动策划方案、报告及项目各项宣传资料文案等。</br>';
         /*运营专员*/
        recruit[1][1][0]='1、活动策划专员（市场营销，电子商务类专业）</br>2、  媒体运营专员（电子商务，传媒，广告等专业）</br>3、文案策划专员（文学类专业）</br>';
        recruit[1][1][1]='1、本科或以上学历，20-24岁精通office文档，微信排版，简单H5制作加分项：</br>2、  曾在知名公司有实习经验，且表现突出;有自媒体运营经验，对宣传热点有自己一定的理解；</br>3、  对于运营工作热衷有较强的文字编辑能力；</br>4、对于新媒体运营有较为独特的简介与执行力；</br>5、  团队协作能力强，有较强的学历能力与新事物接受能力；有责任心</br>';
        /*总助*/
        recruit[1][2][0]='1负责整理总经理要求的行业相关资讯，为总经理决策提供数据支持；</br>2、在总经理授权下沟通内外部高层关系，协调公司项目进度；</br>3、协助公司企业文化建设和建设公司商务形象；</                                                                                                                                                                                        br>4、协助总经理进行外部商务洽谈安排，如行程安排，PPT制作，及商务接洽。</br>5、总经理交办的其他事务。</br>';
        recruit[1][2][1]='1、25-35岁，211院校本科及以上学历，商科或经济学专业；</br>2、3年以上金融行业或互联网行业工作经验，有海外工作或留学背景者优先；</br>3、具备金融或资本市场有相关知识及技能，较强的公关协调能力；</br>4、形象良好，性格沉稳，抗压能力强，能接受长时间工作，具备良好的沟通协调能力；</br>5、较强的逻辑思维，反应快头脑灵活，执行力强，较强的敬业精神和保密意识；</br></br>';
         /*渠道运营*/
        recruit[1][3][0]='1、负责产品推广渠道挖掘及维护</br>2、有一定的宣传文案编辑能力，高度的责任心和工作热情。</br>3、能够完成渠道数据分析及效果评估</br>4、良好的商务市场拓展能力</br>5 、策划能力，定制推广活动方案，协调各部门对活动执行';
        recruit[1][3][1]='1、独立建过网站加分2、独立运营过微博或微信公众帐号3、热爱体验各类无线 APP 产品4、想在互联网金融这个浪潮下好好拼搏';
        /*客服专员*/
        recruit[2][0][0]='1、接受投资客户咨询，记录投资客户咨询、投诉内容，按照相应流程给予客户反馈；</br>2、能及时发现来电客户的需求及意见，并记录整理及汇报；</br>3、为客户提供完整准确的方案及信息，解决客户问题，提供高质量服务；</br>4、与同事或主管共享信息，进行知识积累，提供流程改善依据；</br>5、负责受理和妥善处理顾客投诉，调节顾客与公司之间的关系，回答顾客提出的各种咨询和整理、转述客户的具体要求。</br>';
        recruit[2][0][1]='1、有客服经验，勤奋敬业、责任心强，思路清晰；</br>2、普通话标准，口齿伶俐，懂得消费者心理，语言表达能力强，擅于沟通；</br>3、头脑清晰，思维敏捷，具有良好的销售服务意识和团队合作精神；</br>4、性格好，富有耐心及责任心，身体健康，能够长期稳定的干好工作；</br>5、电脑使用熟练，打字速度每分钟50字以上，熟悉办公软件和网络工具</br>工作时间：周一到周五9:00-18:00（18:00-21:00间会视平台业务需求随时接听客户电话，可通过个人电话接听）</br>';




         function sliderecruit(occIndex,postIndex){
                /*alert(occIndex+'+'+postIndex);
                alert(recruit[occIndex][postIndex][0]);*/
                $('.dist td:nth-child(2)').html(recruit[occIndex][postIndex][0]);
                $('.dist tr:nth-of-type(2) td:nth-child(2)').html(recruit[occIndex][postIndex][1]);

        }
    </script>
</body>
</html>














































