<!DOCTYPE html>
<html lang="en">
<head>
    <!--inline[../../common/page/head.ejs]-->
    <title>椰子理财</title>
    <link rel="stylesheet" type="text/css" href="../../common/static/css/jquery.fullPage.css?__inline">
    <link rel="stylesheet" type="text/css" href="../../common/static/css/main.css?_inline">
    <link rel="stylesheet" type="text/css" href="../static/index.css?_inline">
</head>
<body>
    <div id="mask">
    <div>
        <img src="../static/image/qrcodeforpc2.png"  alt=""></div>
    </div>
    <!--inline[../../common/page/nav.ejs]-->
    <!-- Label on the right -->
    <aside class="fixright">
        <i class="qr-code"></i>
            <span class="qrillustrate">官方</span>
            <span class="app">APP</span>
             <span class="qrillustrate ill2">下载</span>
    </aside>
    <!-- main content-->
    <section id="mainpage">
        <div class="section section1"></div>
        <div class="section section2"></div>
        <div class="section section3"> </div>
        <div class="section section4"></div>
        <div class="section section5"></div>
    </section>
    <!-- page one -->
    <div class="page page1">
        <div id="s1pic1"></div>
        <div class="animate-block ">
            <h2 class="EnFont p1s2"> WE BORN TO BE DIFFERENT</h2>
            <h4 class="p1s3">椰子理财有什么不一样</h4>
            <div  id="upArrow"></div>
            <div id="downArrow"></div>
        </div>
    </div>

    <!--  page two -->
    <div class="page">
        <div id="s2block1">
            <div class="s2top">
                <div class="aftbtn"></div>
                <div class="prebtn"></div>
                <div class="pub">
                    <div class="turnItem">
                        <div class="circle circle1">
                             <img src="../static/image/circle1-3.png">
                        </div>
                        <div class="clearbottom">
                            <span class="font1">中海油项目</span>
                        </div>
                    </div>
                    <div class="turnItem">
                        <div class="circle circle2 circleb">
                            <img src="../static/image/circle2-2.png">
                        </div>
                        <div class="clearbottom">
                            <span class="font2">国药控股项目</span>
                        </div>
                    </div>
                    <div class="turnItem">
                        <div class="circle circle3">
                            <img  src="../static/image/circle3-2.png">
                        </div>
                        <div class="clearbottom">
                            <span class="font3">中国电建项目</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="s2block2">
            <div class="fontbg"></div>
        </div>
        <div id="s2block2-1">
            <div class="fontsub">
                <h2 >优质<font size="28">央企、国企</font>项目</h2>
                <h4 class="EnFont topSpace">Qualified programs from National Enterprises</h4>
                <p>我们发现，越来越多人关注到理财的重要性，而大部分的理财产品都是针对于个人借贷。而我们只做最优质的最安全
                的央企国企项目。</p>
                <p> 椰子理财平台上所有的项目都来源于央企、国企保理项目，风控更严格，亿级担保更有保障！</p>
            </div>
        </div>
    </div>
    <!-- page three -->
    <div class="p3">
        <div class="s3pics1">
            <div id="lineimg"></div>
        </div>
        <div class="s3pics2">
            <div id="fourpeople">
                <img class="fourpeople" src="../static/image/fourpeople.png" >
            </div>
        </div>
        <div class="s3part3">
            <div class="s3rectthing">
                <div class="rect1">
                    <div class="EnFont"> <font size="28">12%</font><span class="sFont"> Tim</span></div>
                    <article >某互联网公司 Hr</article>
                    <article >“我一直对于理财有比较强的需求，我习惯把钱投到不同的渠道。同时每一笔的投资我都会进行风险衡量，椰子理财的项目都来源于央国企项目，比较符合我的投资需求，我已经打算长期在椰子理财上投资，尽早让自己的活期利率提高到12%”</article>
                </div>
                <div class="rect2">
                    <div class="EnFont"> <font size="28"> 6%</font><span class="sFont">Stacey</span></div>
                    <article >某知名互联网企业 产品经理</article>
                    <article >“我是椰子理财的新用户，在朋友的推荐下我下载了椰子理财。我投资了20天，已经赚了300块。”</article>
                </div>
                <div class="rect3">
                    <div class="EnFont"> <font size="28"> 7.5%</font><span class="sFont">Chuck</span></div>
                    <article >某知名会计所 审计专员<article >
                    <article >“我每天在会计所里面忙忙忙，没有很多的时间去关注股票、投资。现在发现理财其实很容易，我只需要在上下班时看看收益，进行投资就可以了。我感觉这样的理财方式蛮适合上班族的”<article >
                </div>
                <div class="rect4">
                    <div class="EnFont"> <font size="28"> 9%</font><span class="sFont">Lisa</span></div>
                    <article >某国企  职员</article >
                    <article >“我们公司前段时间与椰子理财签订了合作协议，椰子理财上所有的项目都是来源于公司。因为我对公司情况十分了解，所以我把钱放到了椰子理财上，现在投资已经有几个月了，我会把所有的收益都拿来补贴家用，感觉蛮安全的。”</article>
                </div>
            </div>
        </div>
        <div class="s3font">
            <h1 style="color:#00aaee;">活期投资</h1>
            <h1 style="color:#f15853;">期限由<font size="50px">你</font>定</h1>
            <h5 class="grayFont">You own your life </h5>
            <h5 class="grayFont">每日发放活期产品，您可随心选购！100元起投，随存随取</h5>
        </div>
    </div>
    <!-- page four -->
    <div class="p4">
        <div class="s4fonts">
            <p><font size="24">银联</font>支付与托管<p>
            <p class="EnFont" style="text-indent:2em;">UnionPay escort for your investment</p>
            <p>您的所有支付行为都经由银联系统操作</p>
            <p>方便快捷有保障！椰子理财保证</p>
            <p>平台不会经手您的资金</p>
            <p>所有资金由银联进行托管</p>
        </div>
        <img src="../static/image/tpeople2.png"  alt="" class="tpeople" >
        <img src="../static/image/allPiece.png" alt="" id="unionI">
        <img src="../static/image/tperson2.png" alt="" class="tPerson">
    </div>
    <!-- page five -->
    <div class="p5">
        <div class="p5middle">
            <div class="s5fontBlock1">
                <p><font size="20">千万级</font>风险保障金</p>
                <p class="EnFont">Professional risk security mechanism</p>
                <p>我们已经设立了千万级风险保障金</p>
                <p>用心做您的投资安全网</p>
            </div>
            <div class="s5fontBlock2">
                <p><font size="20">法律</font>保障</p>
                <p class="EnFont">Reliable，law protection</p>
                <p>我们与知名律师事务所——盈科律所</p>
                <p>签订常年合作协议</p>
                <p>用心为您提供投资保护墙</p>
            </div>
        </div>
    </div>
    <div class="p5">
        <div class="fordrawline">
             <div id="drawLine">
                <svg width="100%" height="100%" version="1.1" xmlns="http://www.w3.org/2000/svg">
                    <line x1="100%" y1="0" x2="0" y2="100%" style="stroke:rgb(255,255,255);stroke-width:2"/>
                </svg>
            </div>
        </div>
    </div>
    <script charset="utf-8" src="http://wpa.b.qq.com/cgi/wpa.php"></script>
    <script>BizQQWPA.addCustom({aty: '0', a: '0', nameAccount: 800106787, selector: 'BizQQWPA'});</script>
    <footer id="fixFooter">
        <div class="footerMsg">
            <table class="addrTable">
                <tr>
                    <td><div class="sicon i-addr"></div></td>
                    <td>地址：</td>
                    <td>深圳市福田区嘉里建设广场T3-1801</td>
                    <td><div class="sicon i-sina"></div></td>
                    <td>新浪微博</td>
                </tr>
                <tr>
                    <td><div class="sicon i-phone"></div></td>
                    <td>客服热线：</td>
                    <td>4000-876-678</td>
                    <td><div class="sicon i-join"></div></td>
                    <td>加入我们</td>
                </tr>
                <tr>
                    <td><div class="sicon i-env"></div></td>
                    <td>邮编：</td>
                    <td>510000</td>
                    <td><div id="BizQQWPA" class="sicon i-qq"></div></td>
                    <td>QQ客服</td>
                </tr>
            </table>
        </div>
        <div class="qrrect">
            <div class="i-qrcode"></div>
            <span>扫一扫二维码</span>
        </div>
        <div class="copyRight"> <div>粤ICP备15075681号-1Qian Yezi Finance Limited 椰子金融版权所有2015</div></div>
        <div class="authen">
            <a id='___szfw_logo___' href='https://credit.szfw.org/CX20151230013067360358.html' target='_blank'><img src='http://icon.szfw.org/cert.png' border='0' /></a>
            <br/>
            <a  key ="5683530cefbfb00c17b6151e"  logo_size="83x30"  logo_type="business"  href="http://www.anquan.org" ><script src="http://static.anquan.org/static/outer/js/aq_auth.js"></script></a>
        </div>
    </footer>
    <!--inline[../../common/page/foot.ejs]-->
    <script type="text/javascript" src="../../common/static/js/jquery.fullPage.min.js?__inline"></script>
    <script type="text/javascript" src="../static/index.js?__inline"></script>
</body>
</html>