<!DOCTYPE html>
<html lang="en">
<head>
    <!--inline[../../common/page/head.ejs]-->
    <title>椰子理财</title>
    <link rel="stylesheet" type="text/css" href="../../common/static/css/main.css?_inline">
    <link rel="stylesheet" type="text/css" href="../static/pcSecurity.css?_inline">

</head>
<body>
     <!--inline[../../common/page/nav.ejs]-->
    <section class="s1">
       <img src="../static/image/securitys1font1.png" alt="" class="s1font">
    </section>
    <section class="s2">
        <span class="font1">我们与优质<span class="font2">的企业合作</span></span>
        <span class="font3">WE Cooperate with National Enterprise</span>
        <span class="font4">我们的投资标的主要来源于经过严格风控审核且拥有雄厚资金实力的上市央企或世</span>
        <span class="font4">界500强企业的相关应收账款或融资资产。在此基础之上，所有的交易合同都会由</span>
        <span class="font4">专业律师团队制作并全程监督，充分保障投资者利益。</span>
    </section>
    <section class="s3">
        <span class="font1">我们只做<span class="font2">优质产品</span></span>
        <span class="font3"> we provide you premium product</span>
        <span class="font4">椰子理财建立了资深的风控团队，旨在筛选最安全的理财产品。我们会</span>
        <span class="font4">对所有项目进行风控审核，包括但不限于企业偿还能力与项目真实性进行</span>
        <span class="font4">全方位审核，对融资企业及合作渠道进行实地尽职调查，同时亦会根据</span>
        <span class="font4">人民银行征信系统数据、公安局居民身份系统数据、税务系统数据、工</span>
        <span class="font4"> 商局系统数据等综合考察，实现360度风控审核检验体系。</span>
    </section>
    <section class="s4">
        <span class="font1">我们注重<span class="font2">法律保障</span></span>
        <span class="font3">We offer you legal protection</span>
        <span class="font4">您可以在椰子理财平台上查阅到所有项目的相关合同、标的总额、法律合同与相</span>
        <span class="font4">关文件，所有的信息都真实有效。</span>
    </section>
    <section class="s5">
        <span class="font1">我们在意<span class="font2">资金安全</span></span>
        <span class="font3">We secure your payment process</span>
        <span class="font4">椰子理财与中国银联签订了合作协议，您在椰子理财上所有的支付都将</span>
        <span class="font4">直接挂钩银联支付系统，您的支付更安全，更有保障。</span>
    </section>
    <section class="s6">
        <span class="font1">我们选择<span class="font2">公开透明</span></span>
        <span class="font3">We care about your legal rights</span>
        <span class="font4">椰子理财携手中国银联进行第三方资金托管，意味着平台不能直接经手客户资金。</span>
        <span class="font4">也无权擅自动用客户在第三方托管的资金，投资人通过银联支付系统投资成功</span>
        <span class="font4">后，资金将直接进入借款人账户，保证交易真实和投资人资金安全</span>
    </section>
    <section class="s7">
        <span class="font1">千万资金<span class="font2"> 风险保障</span></span>
        <span class="font3">We are rich. No problem</span>
        <span class="font4">椰子理财准备了千万级的风险准备金，</span>
        <span class="font4">我们用心做您的投资安全网。</span>
    </section>
    <!--inline[../../common/page/foot.ejs]-->
    <script>
        $('.nav>li').click(function(){
            switch($(this).index()){
                case 0:window.location.href='/';
                break;
                case 1:window.location.href='about';
                break;
                case 2:window.location.href='security';
                break;
                default:
                break;
            }
        });
        $('.headyea').click(function(){
            window.location.href='/';
        });
        $('.qr-code').click(function(){
            $('#mask').show();
        });
        $('#mask').click(function(){
            $('#mask').hide();
        });
    </script>
</body>
</html>