<!DOCTYPE html>
<html lang="en">
<head>
    <!--inline[../../common/page/head.ejs]-->
    <title>椰子理财</title>
    <link rel="stylesheet" type="text/css" href="../../common/static/css/main.css?_inline">
    <link rel="stylesheet" type="text/css" href="../static/pcSecurity.css?_inline">

</head>
<body>
      <header class="fixheader">
    <div class="headyea">
        <img src="/introduce/static/image/logo.png" class="yealogo" alt="yea">
    </div>
    <div class="headernav">
        <ul class="nav">
            <a href="/"><li>首页</li></a>
            <a href="/about"><li>关于我们</li></a>
             <a href="/security"><li class="chosed">安全保障</li></a>
        </ul>
    </div>
</header>
    <section class="s1">
       <img src="../static/image/securitys1font1.png" alt="" class="center-block">
    </section>
    <section class="s2">
        <h2 style="color: #e64043;">我们与优质的<span style="color: #514e4e;">企业合作</span></h2>
        <p>WE Cooperate with National Enterprise</p>
        <p>我们的投资标的主要来源于经过严格风控审核且拥有雄厚资金实力的上市央企或世界500强企业的相关应收账款或融资资产。在此基础之上，所有的交易合同都会由专业律师团队制作并全程监督，充分保障投资者利益。</p>
    </section>
    <section class="s3">
        <h2 >我们只做<span style="color:#fedf25;">优质产品</span></h2>
        <p>we provide you premium product</p>
        <p>椰子理财建立了资深的风控团队，旨在筛选最安全的理财产品。我们会对所有项目进行风控审核，包括但不限于企业偿还能力与项目真实性进行全方位审核，对融资企业及合作渠道进行实地尽职调查，同时亦会根据人民银行征信系统数据、公安局居民身份系统数据、税务系统数据、工
       商局系统数据等综合考察，实现360度风控审核检验体系。</p>
    </section>

    <section class="s4">
        <h2 >我们注重<span style="color:rgb(39,197,133);">法律保障</span></h2>
        <p>We offer you legal protection</p>
        <p>您可以在椰子理财平台上查阅到所有项目的相关合同、标的总额、法律合同与相关文件，所有的信息都真实有效。</p>
    </section>
    <section class="s5">
        <h2>我们在意<span style="color: #e64043;">资金安全</span></h2>
        <p>We secure your payment process</p>
        <p>椰子理财与中国银联签订了合作协议，您在椰子理财上所有的支付都将>直接挂钩银联支付系统，您的支付更安全，更有保障。</p>
    </section>
    <section class="s6">
        <h2>我们选择<span style="color: #e64043;">公开透明</span></h2>
        <p>We care about your legal rights</p>
        <p>椰子理财携手中国银联进行第三方资金托管，意味着平台不能直接经手客户资金。也无权擅自动用客户在第三方托管的资金，投资人通过银联支付系统投资成功后，资金将直接进入借款人账户，保证交易真实和投资人资金安全</p>
    </section>
    <section class="s7">
        <h2>千万资金<span style="color: #fedf25;"> 风险保障</span></h2>
        <p>We are rich. No problem</p>
        <p>椰子理财准备了千万级的风险准备金，我们用心做您的投资安全网。</p>
    </section>
</body>
</html>