<header class="fixheader">
    <div class="headyea">
        <img src="/introduce/static/image/logo.png" class="yealogo" alt="yea">
    </div>
    <div class="headernav">
        <ul class="nav">
            <a href="/"><li class="chosed">首页</li></a>
            <a href="/about"><li>关于我们</li></a>
             <a href="/security"><li>安全保障</li></a>
        </ul>
    </div>
</header>