section{
    width:100%;
    height: 280px;
    padding-top: 80px;
}
p,h2{
    text-align: left;
    width:500px;
}
.s1{
    height: 400px;
    background-image: url(//127.0.0.1:3901/static/introduce/image/1_b72dc84.png);
    background-size: 100% 100%;
}
.s1 img{
    margin-top: 100px;
}
.s2{
    background-image: url(//127.0.0.1:3901/static/introduce/image/2_837b82e.jpg);
    background-size: 100% 100%;
    padding-right: 50px;
}
.s3{
    background-image: url(//127.0.0.1:3901/static/introduce/image/3_250ade0.jpg);
    background-size: 100% 100%;
}

.s4{
    background-image: url(//127.0.0.1:3901/static/introduce/image/4_5e11788.jpg);
    background-size: 100% 100%;
}
.s5{
    background-image: url(//127.0.0.1:3901/static/introduce/image/5_5e51dfa.jpg);
    background-size: 100% 100%;
}
.s6{
    background-image: url(//127.0.0.1:3901/static/introduce/image/6_bd86517.jpg);
    background-size: 100% 100%;
}
.s7{
    background-image: url(//127.0.0.1:3901/static/introduce/image/7_a6d5511.jpg);
    background-size: 100% 100%;
}

.s2 h2,.s2 p.s6 h2 .s6 p,.s4 h2 .s4 p{
    margin-left: 50%;
}






